:root {
  --primary: #8ab1f6;
  --secondary: #9fe4d0;
  --tertiary: #ade9e9;
  --light-dark: #222222;
  --dark: #2c2f30;
  --border-radius: 0.3rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
